* {
    box-sizing: border-box;
    --color-bg: #E5E5E5;
    --color-header-footer: #fff;
    --color-msg-all: #fff;
    --color-msg-pvt: #FFDEDE;
    --color-msg-exit: #DCDCDC;
    --color-check: #28BB25;
    --max-width: 614px;
    --width-elements: 100vw;
}

.hidden {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top:0;
    bottom:0;
    left: 0;

    background-color: var(--color-header-footer);
    max-width: var(--max-width);
    width: var(--width-elements);
    height: 100vh;
}

nav img {
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}

nav input {
    text-align: center;
    height: 54px;
    width: 260px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;

    outline: none;
}

nav button {
    width: 109px;
    height: 45px;
    text-align: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
    border-radius: 9px;
    border: none;

    background-color: #E7E7E7;
}

nav button:hover {
    cursor: pointer;
}

nav p {
    font-weight: 700;
    font-style: italic;
    margin-top: 70px;
    color: black;
}

body {
    background-color: var(--color-bg);
    font-family: 'Roboto', sans-serif;
}

header {
    width: var(--width-elements);
    max-width: var(--max-width);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-header-footer);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}



header ion-icon {
    font-size: 40px;
    padding-right: 25px;
}

header ion-icon:hover {
    cursor: pointer;
}

header img {
    padding-left: 22px;
    padding-top: 16px;
    padding-bottom: 11px;
}

main {
}

.container-messages {
    width: var(--width-elements);
    max-width: 605px;
    height: auto;

    position: absolute;
    top: 87px;
    left: 0;
    padding-bottom: 83px;
}

article {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 4px;
}

.msg-enter-exit {
    background-color: var(--color-msg-exit);
}

.msg-all {
    background-color: var(--color-msg-all);
}

.msg-pvt {
    background-color: var(--color-msg-pvt);
}

span {
    margin-right: 5px;
    color: #AAAAAA;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
    margin-left: 8px;
}

strong {
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px;
}

footer {
    width: var(--width-elements);
    max-width: var(--max-width);
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-header-footer);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

footer ion-icon {
    font-size: 26px;
}

footer input {
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 21px;
    margin-left: 17px;
    outline: none;
}


footer button {
    border: none;
    background-color: #fff;
    margin-right: 27px;
}

aside {
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    z-index: 2;
}

.back-aside {
    max-width: var(--max-width);
    width: var(--width-elements);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.back-aside:hover {
    cursor: pointer;
}

.aside {
    width: 70%;
    height: 100vh;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.aside-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;

    text-align: center;
    word-wrap: break-word;
}

.usersAll {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: scroll;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;

    margin-bottom: 18px;
}

.user ion-icon {
    font-size: 24px;
    margin-right: 8px;
    margin-left: 18px;
}

.check {
    display: inline;
    color: var(--color-check);
    padding-right: 27px;
}

.check-2 {
    display: inline;
    color: var(--color-check);
    padding-right: 27px;
}

.icon-and-user {
    display: flex;
    align-items: center;
}

.aside-text-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;

    text-align: center;
    word-wrap: break-word;
}